<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="\Codeception\Extension\ModuleContainer" />
    </extensions>
    <php>
        <!-- Set environment variables for WordPress -->
        <env name="WP_TESTS_DB_HOST" value="localhost"/>
        <env name="WP_TESTS_DB_NAME" value="wordpress_tests"/>
        <env name="WP_TESTS_DB_USER" value="root"/>
        <env name="WP_TESTS_DB_PASSWORD" value=""/>
    </php>
</phpunit>