[mysqld]
datadir=/path/to/your/data/directory
socket=/Users/jeldonmusic/Library/Application Support/Local/run/9y4Cqcsm2/mysql/mysqld.sock

[client]
socket=/Users/jeldonmusic/Library/Application Support/Local/run/9y4Cqcsm2/mysql/mysqld.sock
